<%= turbo_frame_tag "new_item" do %>
  <h2>Crear Item</h2>
  <%= render 'form' %>
  <%= link_to "Cancelar", todo_list_path(@todo_list), 
              class: "cancel-button",
              data: { turbo_frame: dom_id(@todo_list) } %>
<% end %>